<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aldev.lite.SIBI.deteksi">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/sibi"
        android:label="@string/tfe_od_app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme.ObjectDetection">

        <activity android:name="com.aldev.lite.SIBI.deteksi.Home" android:noHistory="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name="com.aldev.lite.SIBI.deteksi.image_view" android:noHistory="true">

        </activity>

        <activity
            android:name="com.aldev.lite.SIBI.deteksi.DetectorActivity"
            android:label="@string/tfe_od_app_name"
            android:screenOrientation="portrait" android:noHistory="true">

        </activity>

    </application>
</manifest>

